body{
     font-family: 'ssf4',Courier, monospace;
     background: var(--cor-secundaria);
}

body::before{
    content: '';
    background-image: url(../Imagens/1cYrMYF.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalho{
    z-index:1;
    display: flex;
    justify-content: center;
}

.titulo{
   color: var(--cor-titulo-fraco);
   padding-bottom: 50px;
   text-align: center;
   text-transform: uppercase;
   font-size: 52px;
   line-height: 102%;
   -webkit-text-stroke:2px var(--cor-titulo-forte);
}

.Selecao-de-Personagens {
   display: flex;
   align-items: center;
   justify-content: center;  
}

.Selecao-de-Personagens .personagem-grande {
    text-align: center;
    width: 30%;
    height: 70vh;
    position: relative;     
}

.Selecao-de-Personagens .personagem-grande img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.Selecao-de-Personagens .personagem-grande .Nome::before{

  content: '';
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: -15px;
  left: 0;
}


.Selecao-de-Personagens .personagem-grande .Nome h2{

    color: var(--cor-padrao);
    font-family: 'comand', sans-serif;
    position: absolute;
    bottom:  -15px;
    width: 100%;
    font-size: 30px;
}

.Selecao-de-Personagens .personagem-grande.personagem-jogador-1 .Nome::before{
    background-color: var(--cor-azul-principal);

}

.Selecao-de-Personagens .personagem-grande.personagem-jogador-2 .Nome::before{
    background-color: var(--cor-vermelha-principal);
 
}

.lista-de-personagens{
    
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    gap: 12px;
}

.Selecao-de-Personagens .lista-de-personagens .personagem{

    border: 2px solid var(--cor-padrao);
    background-color: var(--cor-padrao);
    width: 30%;
    height: 160px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out ;
}

.Selecao-de-Personagens .lista-de-personagens .personagem img{
       
    width: 100%;
    height: 100%;
    border-radius: 5px;    
}

.Selecao-de-Personagens .lista-de-personagens .personagem.selecionado{
    
    border: 2px solid var(--cor-azul-media);
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.Selecao-de-Personagens .lista-de-personagens .personagem.jogador-2-selecionado{
    
    border: 2px solid var(--cor-vermelha-media);
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.Selecao-de-Personagens .lista-de-personagens .personagem:hover{
    
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.10);
    z-index: 2;
}

.Selecao-de-Personagens .lista-de-personagens .personagem:hover{
    
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate; 
}

.Selecao-de-Personagens .lista-de-personagens .personagem .tag{

    display: none; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    position: absolute;
    top:  5px;
    left: 5px;
    color: var(--cor-azul-media);
    transition: opacity .3s ease-in-out;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate; 
}

.Selecao-de-Personagens .lista-de-personagens .personagem.selecionado .tag{

    display: block;  
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate; 
}


.Selecao-de-Personagens .lista-de-personagens .personagem.jogador-2-selecionado .tag{

    display: block;  
    animation: text-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate; 
}















