@media(max-width: 1280px){

  .cabecalho .titulo{

    font-size: 40px;

  }  
  
  .selecao-de-personagens  .lista-de-personagens{
 
    max-width: 330px;
  }

  .selecao-de-personagens .lista-de-personagens .personagem{

    width: 100px;
    height: 100px;
  }

}

@media(max-widht: 767px){

   body::before{
      
       background-image: url(../Imagens/bg-mobile.jpg);
       background-image: no-repeat;
       background-size: cover;
       background-position: center;
       opacity: 1;
   }

   main{

     padding: 0 5px;
     justify-content: start;
   }

}